.projectDisplay h1, h2, h3, h4 {
    padding: 0.25rem 0 0.25rem 0;
}

.projectDisplay p {
    font-family: monospace;
    font-size: 1rem;
}

.projectDisplay table {
    margin: 10px 10px 10px;
}

.projectDisplay thead {
    font-family: monospace;
    font-size: 1.5rem;
}
.projectDisplay td {
    font-family: monospace;
    font-size: 1rem;
    padding: 4px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.projectDisplay tbody {
    background-color: #f5f5f5;;
}

.projectDisplay thead tr th:first-child {
    width: auto;
}
.projectDisplay tbody tr td:first-child {
    width: 13rem;
    max-width: 13rem;
}

img {
    max-width: 100%;
}